[submodule "catkin_ws/src/duckieboat_ros"]
	path = catkin_ws/src/duckieboat_ros
	url = https://github.com/ARG-NCTU/duckieboat_ros.git
[submodule "ardupilot"]
	path = ardupilot
	url = https://github.com/ARG-NCTU/ardupilot
